<div class="jumbotron">
    <p class="lead">Hey you have no workouts! Start adding your workouts.</p>
    <p><a href="/Workout/Create" class = "btn btn-lg btn-success" role = "button">Add A Workout</a></p>
</div>
