@model WorkingOut.Models.CreateWorkoutViewModel

<div class="col-md-3">
    <div class="set_added">
        <h6 class="set_added_num">10</h6>
        <div class="inline-block set_added_info">
            <p>@Model.reps.ToString() x @Model.weight.ToString() lb</p>
        </div>
    </div>
</div>
                                   
