table{
    width: 765px;
    border-collapse: separate;
    border-spacing: 2px;
    background-color: #f0f0f0;
}

thead{
    background-color: #f0f0f0;
    text-align:center;
}

tbody{
    background-color: white;
}

td{
    width: 107px;
}

th{
    text-align:center;
}

tbody td{
    height: 100px;
    border: 1px solid #ddd;
}

.dayNum{
    height: 20px;
    text-align: right;
}

.dayInfo{
    height: 50px;
}

.dayAdd{
    height: 20px;
    text-align: right;
}

.dayInfo p{
    font-size: 12px;
    margin-bottom: 0px;

}

.addToCalendar{
    padding: 1px 5px;
    font-size: 8px;
    background-color: #c6dcef;
    color: white;
}

.addToCalendar:hover{
    background-color: #428bca;
    color:white;
}

.weekHidden{
    display: none;
}

.weekShow{
    display: table-row;
}

.dayActive:hover{
     box-shadow: 0 0 5px rgba(66, 139, 202, 1);
    -webkit-box-shadow: 0 0 5px rgba(66, 139, 202, 1); 
    -moz-box-shadow: 0 0 5px rgba(66, 139, 202, 1);
}

.dayInfo p:hover{
    cursor: pointer;
}

.dayActive {
    background-color: white; 
    border: 1px solid #ddd;
}

.dayNotActive{
    background-color: #f0f0f0;
}

.darkHeadingDiv{
    height: 65px;
    width: 765px;
    background-color: #555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: #fff;
}

#date_div, #prevMonth, #nextMonth{
    width:252px;
    display: inline-block;
    height:65px;
    vertical-align:top;
}

#date_info, #date_input{
    height:65px;
    display:inline-block;
}

#date_div{
    text-align:center;
}

#date_div h2:hover,#prevMonth span:hover, #nextMonth span:hover{
    color:#428bca;
    cursor: pointer;
}

#nextMonth{
    text-align:right;
}

#prevMonth, #nextMonth{
    padding-top:17px;
}

.glyphicon-chevron-left,.glyphicon-chevron-right{
    font-size:24px;
}

.dayNotActive .dayAdd{
    visibility: hidden;
}

#date_input{
    display: none;
    padding-top: 7px;
}

#select_month, #select_year{
    display:inline-block;
    width:auto;
    height: 30px;
}

#go, #cancel, #now{
    height: 20px;
    padding-top: 0px;
}

#date_info{
    padding-top: 16px;
}

#date_info h2{
    margin:0px;
}

#workoutSelect{
    overflow-y:auto;
    outline:none;
}

body.modal-open{
    margin-right: 0px;
}

.modal-dialog{
    width: 500px;
    margin-left:-250px;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 0px;
}

.modal-header{
    background-color: #555;
    margin: 5px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal-body{
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#pickworkoutlist > div{
    background-color: white;
    margin: 5px;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal-body > h4{
    margin-left: 5px;
}

#pickworkoutlist > div > p{
    margin:0px;
    padding-left: 5px;
    padding-right: 5px;
}

.infoLabel{
    font-weight: bold;
}

.workoutHeader{
    background-color: #f0f0f0;
    display: inline-block;
    width:100%;
    line-height:200%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.workoutHeader p{
    display: inline-block;
    vertical-align:middle;
    margin:0px;
}

.workoutLabel{
    font-size: large;
    padding-left: 5px;
    font-weight: bold;
}

#pickworkoutlist > div:hover{
    background-color: #D9E8F4;
    cursor: pointer;
}

.duration{
    float: right;
    padding-right:5px;
}