.grey_div {
    border: 10px solid #f0f0f0;
    background-color: #f0f0f0; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}

.display-inline{
    display:inline-block;
}

div.set_entry{
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
}

div.set_entry .set_entry_num{
    display:inline-block; 
    width:25%; 
    margin-left:5px; 
    margin-right:5px;
    margin-bottom: 5px;
    text-align:center;
    color: #fff;
    background-color: #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.set_entry .set_entry_rep{
    width:30%;
}

div.set_entry .set_entry_input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:100%;
}

div.set_entry .set_entry_wt{
    width:30%;
}

.workout_info{
    background-color: #fff;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

.form-group .col-md-12{
    padding-left:10px;
    padding-right:10px;
}

#sets_entry .col-md-3{
    padding-left:5px;
    padding-right:5px;
}

.darkHeadingDiv{
    background-color: #555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    color: #fff;
}

.set_added{
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.set_added_num{
    display:inline-block; 
    width:15%; 
    margin-left:5px; 
    margin-right:5px;
    margin-bottom: 5px;
    text-align:center;
    color: #fff;
    background-color: #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.set_added_info p{
    margin: 0px 0px;
}

.set_added_input{
    width:70%;
    display: none;
}

.set_added_input input{
    width: 33%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.set_rows .col-md-3{
    padding-left: 5px;
    padding-right: 5px;
}

#addExerciseDiv{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ffd800;
    background-color: #fff;
}

#addExerciseDiv .form-group{
    margin: 5px;
}

#showHideAddExercise{
    display: none;
}

.saveExEdit{
    display: none;
}

#noExercises{
    display: none;
}

#noAddedExercises{
    display: none;
}

#workoutActions{
    float:right;
    margin-right:-5px;
}

#addExerciseActions{
    margin-left:5px;
}

.modal-dialog{
    width: 500px;
    margin-left:-250px;
    position: absolute;
    top:50%;
    left: 50%;
    padding: 0px;
}

#deleteModal{
    outline:none;
}

#deleteModal .modal-header h4{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d9534f;
    background-color: #d9534f;
    color: white;
    padding:10px;
}

.edit-link{
    margin-right:10px;
}

#datepicker:hover, #addExerciseLink:hover, .edit_added:hover, .delete_added:hover {
    cursor:pointer;
}
