@model WorkingOut.Models.WorkoutExercise

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>

        <dt>
           Sets
        </dt>

        <dd>
            @Model.Sets.Count()
        </dd>

    </dl>
    <hr />

</div>
