@{
    ViewBag.Title = "About";
}
<h2>What is this site for?</h2>

<p>My name is Brent Lynch and I've created this site in an effort to learn C# and ASP.NET, and to utilize the languages and skills I've already learned and developed.</p>

<p>This site allows users to enter a daily log of their workouts. The user can also create exercises that are not part of the exercises that are provided by default.
    Each workout can be edited and deleted.</p>

<p>The basic functionality of the site along with the design is being showcased to give evidence to a potential employer of my capacity to learn new languages as well as
    a window to my current skillset.</p>

<h2>What is left?</h2>

<p>Currently the site does not have functionality for multiple users but this feature is part of further enhancements that are an ongoing process of learning ASP.NET.</p>

<p>Data Validation is also not fully incorporated. This part will be the next update to the site.</p>

<p>Along with users and data validation there will be other items such as a "Workout Creater" and tracking functionality added as I continue my exploration of C# and ASP.NET.</p>
