@{
    ViewBag.Title = "Contact";
}
<h2>Brent Lynch</h2>

<address>
    900 Pearl Ave Apt 104<br />
    Marshall, MN 56258<br />
    <abbr title="Phone">P:</abbr>
    (507)828-7214
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lynchbrent@hotmail.com">lynchbrent@hotmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/JimCloudy/GymRat">github.com/JimCloudy/GymRat</a>
</address>