@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>G Y M&nbsp;&nbsp;&nbsp;R A T</h1>
    <p class="lead">Welcome to GYM RAT. This site is a tool for those of you who enjoy shapin' up! </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Workout Tracker</h4>
        <p>Use the workout tracker to enter your daily workouts. You'll be able to view individual workouts and watch your progress.</p>

        <h4>Exercises</h4>
        <p>You can add your own exercises with info on what part of the body the exercise is for and add an image to remind you of how it is performed.</p>
    </div>

    <div class="col-lg-6">
        <h4>Random Workout</h4>
        <p>Use the random workout tool to have a set of exercises created for you for that day.</p>

        <h4>Weight Tracker</h4>
        <p>The weight tracker is a tool to allow you to visually see your weight across a span of time.</p>
    </div>
</div>